/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section__add-items {
  display: flex;
}
.section__tasks {
  margin: 0;
  padding: 0px;
}
.section__input,
.button {
  outline: none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.section__input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.section__input[type="text"]:focus {
  color: #333;
}
/* New Task */
.section__title_add {
  display: block;
  margin: 0 0 20px;
}
.section__input.new-task {
  width: 318px;
}
/* Task list */
.section__tasks-item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__tasks-item > * {
  vertical-align: middle;
}
.section__tasks-item > .section__input[type="checkbox"] {
  margin: 0 10px;
}
.section__tasks-item > .section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.section__tasks-item > .section__input {
  width: 226px;
}
.button_delete .button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button_delete .button__img:hover {
  transform: rotateZ(0);
}
/* Completed */
.section__tasks.completed-tasks .section__label {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.section__tasks-item .section__input[type="text"] {
  display: none;
}
.section__tasks-item.edit-mode .section__input[type="text"] {
  display: inline-block;
  width: 224px;
}
.section__tasks-item.edit-mode .section__label {
  display: none;
}